<ngx-spinner></ngx-spinner>
<div class="page">
  <div class="page-main">
    <div class="my-3 my-md-5">
      <!--<div class="container">-->
      <div class="container">
        <div class="row">

          <div class="col-lg-12" style="">
            <div class="card">
              <div class="card-header" style="color: #6c757d; text-align: justify; padding-top:22px;">
                <div style="width: 100%" class="alert alert-primary">Users Details </div>
              </div>

            </div>
              <div style="padding-bottom: 1.5%">
                  <button style="width: 100%" routerLink="/register" class=" btn btn-primary">Create New User</button>
              </div>

            <div class="card" >
              <!--<div class="card-header">-->
                <!--<h3 class="card-title">Invoices</h3>-->
              <!--</div>-->
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                  <thead>
                  <tr>
                    <th class="w-1">No.</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Activated</th>
                    <th>Check</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of allUsers.content let i = index">
                    <td><span class="text-muted">{{i+1}}</span></td>
                    <td><a href="invoice.html" class="text-inherit">{{item.firstname}}</a></td>
                    <td class="small text-muted">
                      {{item.lastname}}
                    </td>
                    <td>
                      {{item.gender}}
                    </td>
                    <td>
                        {{item.myrole}}
                    </td>
                    <td>
                        {{item.mobile}}
                    </td>
                    <td>{{item.email}}</td>
                    <td><span class="status-icon bg-success"></span>{{item.activated}}</td>
                    <td><button style="width: 100%" class=" btn btn-primary">View</button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
            </div>


          </div>
      </div>
    </div>

  </div>
  <div class="footer">

  </div>
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-auto ml-lg-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <!--<ul class="list-inline list-inline-dots mb-0">-->
              <!--<li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>-->
              <!--<li class="list-inline-item"><a href="./faq.html">FAQ</a></li>-->
              <!--</ul>-->
            </div>
            <div class="col-auto">
              <!--<a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source code</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
          Copyright © 2019 <a href="https://blaqueyard.com" target="_blank">Blaqueyard ltd</a> All rights reserved.
        </div>
      </div>
    </div>
  </footer>

</div>

<!--</div>-->
