<style>
  /*a:hover{*/
    /*font-family: Raleway;*/
    /*color: #33b5e5;*/
    /*border-bottom: 5px solid #33b5e5;*/
    /*text-decoration:none;*/

    /*transform: scale(1.5); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!*/

  /*}*/
  .mynavs{
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Style the active class, and buttons on mouse-over */
  .active, .btn:hover {
    background-color: #467fcf;
    color: #495057;
  }
</style>

<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <a style="font-family: Raleway; padding-top: 8px; color: #467fcf;" class="header-brand" routerLink="/">
        <!--<img src="./assets/images/smartlogo.png" class="header-brand-img" alt="tabler logo">-->
          <h4>SMART SHOPPER DASHBOARD ©</h4>
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        <div *ngIf="nav === '1'"  class="nav-item d-none d-md-flex btn btn-danger" (click)="logOut()">
            <i style="padding-right: 3px" class="fa fa-close" ></i>Logout
        </div>
          <div routerLink="/login" *ngIf="nav !== '1'" class="nav-item d-none d-md-flex btn btn-success" >
              <i style="padding-right: 3px" class="fa fa-location-arrow" ></i>Login
          </div>

      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center" *ngIf="nav === '1'">
      <div class="col-lg-3 ml-auto"  >
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
          <div class="input-icon-addon">
              <i class="fa fa-search-plus" style="font-size:24px; color:#467fcf"></i>
          </div>
        </form>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li *ngIf="nav === '1'" class="nav-item">
            <a routerLink="/" class="nav-link active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li *ngIf="nav === '1'" class="nav-item">
            <a routerLink="/products" *ngIf="nav === '1'" class="nav-link" data-toggle="dropdown">
              <i  class="fa fa-shopping-cart" aria-hidden="true"></i> Products</a>
          </li>
          <li *ngIf="nav === '1'" class="nav-item dropdown">
            <a  routerLink="/payments" class="nav-link" ><i style="padding-right: 3px" class="fa fa-credit-card-alt" aria-hidden="true">
            </i> Payments</a>
          </li>
          <li *ngIf="nav === '1'" class="nav-item dropdown">
            <a  routerLink="/users" class="nav-link " data-toggle="dropdown">
              <i style="padding-right: 3px" class="fa fa-users"></i> Users</a>
          </li>
          <li *ngIf="nav === '1'" class="nav-item dropdown">
            <a  routerLink="/profile" class="nav-link">  <i style="padding-right: 3px" class="fa fa-user-circle"></i>
              Profile</a>
          </li>
          <li *ngIf="nav === '1'" class="nav-item">
            <a  routerLink="/reports" class="nav-link"> <i class="fa fa-pie-chart" aria-hidden="true"></i>
              Reports</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  // Add active class to the current button (highlight it)
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
<router-outlet></router-outlet>




