<ngx-spinner></ngx-spinner>
<div class="page">
  <div class="page-main">
    <div class="my-3 my-md-5">
      <!--<div class="container">-->
      <div class="container">
        <div class="row">

          <div class="col-lg-12" >
            <div class="card">
              <div class="card-header" style="color: #6c757d; text-align: justify; padding-top:22px;">
                <div style="width: 100%" class="alert alert-primary">Payment Details </div>
                <!--<h1>Profile Details</h1>-->
              </div>

            </div>

            <div class="card" >

              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                  <thead>
                  <tr>
                    <th class="w-1">No.</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Activated</th>
                    <th>Check</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><span class="text-muted">001401</span></td>
                    <td><a href="invoice.html" class="text-inherit">Design Works</a></td>
                    <td class="small text-muted">
                      Carlson Limited
                    </td>
                    <td>
                      87956621
                    </td>
                    <td>
                      15 Dec 2017
                    </td>
                    <td>
                      <span class="status-icon bg-success"></span> Paid
                    </td>
                    <td>$887</td>
                    <td>99</td>
                    <td><button style="width: 100%" class=" btn btn-primary">View</button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
  <div class="footer">

  </div>
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-auto ml-lg-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <!--<ul class="list-inline list-inline-dots mb-0">-->
              <!--<li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>-->
              <!--<li class="list-inline-item"><a href="./faq.html">FAQ</a></li>-->
              <!--</ul>-->
            </div>
            <div class="col-auto">
              <!--<a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source code</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
          Copyright © 2019 <a href="https://blaqueyard.com" target="_blank">Blaqueyard ltd</a> All rights reserved.
        </div>
      </div>
    </div>
  </footer>
</div>


<!--</div>-->
