<div style="padding-top: 80px;">
  <h2>{{hero.name}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>
  <div><span>test: </span>{{fred}}</div>
  <div>
    <!--<li *ngFor="let ts in oluoch">-->
      <!--my title : {{ts.title}}-->
    <!--</li>-->
    <!--<div *ngFor="let ts in oluoch">-->
      <!--<span>{{ts.title}}</span>-->
    <!--</div>-->

    <!-- Angular -->
    <ul>
      <li *ngFor="let item of oluoch; let i = index">
        {{i}} {{item.title}}
      </li>
    </ul>
  </div>


</div>
